<h1>Giriş Ekranı</h1>

<form action="/Login/Login" method="post">

    <label for="kullanici">Kullanıcı Adı:</label><br>
    <input type="text" id="kullanici" name="kullanici"><br>

        <label for="sifre">Sifre:</label><br>
        <input type="password" id="sifre" name="sifre"><br><br>

        <input type="submit" value="Submit">
</form>